## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>

<div class="instructions">
<h2 id="Niftyfeaturesyoumaynothaveknownabout">Nifty features you may not have known about</h2>
<p>
This is a list of cool things that not all users seem to know about. Please send us
&#32; 
<a href="/feedback">feedback</a>
&#32; 
 if you can think of ways to make these features more discoverable.
</p>
<h2 id="Misc">Misc</h2>
<ul><li>When a submission's number is colored, it means it's reached the #1 spot on sciteit.  Clicking on this number will take you to a running list of all the #1 sciteit links.
</li><li>Both the sciteit toolbar and bookmarklets have a "serendipity!" button, which takes you to a random link in the sciteit queue.  You can also go to http://sciteit.com/r/[category]/random to get a random link from a particular category.
</li><li>You can see the most recent comments across all of sciteit by visiting 
&#32; 
<a href="/comments">sciteit.com/comments</a>.
&#32; 
 This works for subsciteits too, by going to /r/(subsciteit)/comments .

</li><li>A dotted outline around a headline indicates a link you just visited.  This makes it easier to up-vote, down-vote or comment on the submission once you return to Sciteit.
</li></ul><h2>Pseudosciteits and other URL tricks</h2>
<ul><li>You can view posts from multiple sciteits by separating them with '+' characters in the URL, such as 
&#32; 
<a href="/r/bugs+ideasfortheadmins">sciteit.com/r/bugs+ideasfortheadmins</a>
</li><li>To view posts from <i>all</i> sciteits, use /r/all
</li><li>To see all posts within a given domain, go to http://sciteit.com/domain/[domain] -- like 
&#32; 
<a href="/domain/nature.com">sciteit.com/domain/nature.com</a>.
</li><li>To change the number of posts per page without logging in, for instance when you're using an RSS reader, add a "limit" parameter to the query string. For example 
&#32; 
<a href="/.rss?limit=42">sciteit.com/.rss?limit=42</a>.
</li></ul>
<h2 id="Thetoolbar">The toolbar</h2>
<ul><li>
Toolbar links can be autogenerated by prepending http://sciteit.com/ to any URL. For example, if you're visiting the Wikipedia page on the Konami code (<a href="http://en.wikipedia.org/wiki/Konami_Code">http://en.wikipedia.org/wiki/Konami_Code</a>) and you're wondering if it was ever submitted to sciteit, just go to 
&#32; 
<a href="http://sciteit.com/http://en.wikipedia.org/wiki/Konami_Code"><b>http://sciteit.com/</b>http://en.wikipedia.org/wiki/Konami_Code</a>
&#32; 
 (you can leave off either or both "http://"s).
##</li><li>You can also get a 
&#32; 
<a href="http://www.sciteit.com/bookmarklets">bookmarklet</a>
&#32; 
 to do the above for you.
</li><li>If you do the above, and the link hasn't been submitted, you'll be taken to the submit page. So this is a great shortcut for submitting links to sciteit.
</li><li>
If you visit http://sciteit.com/[some submission id], you'll get taken to the submission. 
</li></ul>
<h2>Auto population from RSS feeds</h2>
<p>If you are the moderator of a category, you will be given the option to auto-populate your category with links from an RSS feed.  This will work fine as long as the RSS feed you use has entries that have both a 'link' and 'title' tag that are set to something sensible.  This should be the case from pretty much any RSS feed.</p>
<p>Most major journals and pre-print servers have a suitable RSS feed.  For example 
&#32;
<a href="http://www.arxiv.org">ArXiv</a>
&#32;
 provides an RSS feed for every category at http://arxiv.org/rss/CATEGORY-NAME.</p>
<p>The RSS feeds are updated every morning at 3am GMT.  New links will not be added if any of the following are true.</p>
<ul>
<li>
The link has already been submitted somewhere else.
</li>
<li>
Another category is using the same RSS feed.  First in best dressed I'm afraid.
</li>
<li>
The title or link fields are missing or have invalid data.  Note titles are truncated to 300 characters.
</li>
</ul>
</div>
