## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<div class="instructions">
  <h1>About</h1>
  <p>I created sciteit as a result of a journal club I was required to attend and participate in as part of my PhD in astrophysics.  The idea of this journal club was that we would all keep an eye on the publications that were posted each week and pick something that was both of high quality and general interest.  In astrophysics all new articles are posted on a pre-print server, arXiv, so in theory this was an achievable task.  Although I had the best of intentions I rapidly found that it was too time consuming to properly read all articles that were posted each day.  My solution to this was to "sort by brand" and focus on articles from big journals such as Nature or Science, which should (in theory) only publish interesting, high quality research.  However, in so doing I knew I was missing out on a lot of interesting work that I would never see.  </p>
<p>Essentially this is a sorting problem.  There is too much published for one person to do a decent job of reading and deciding what is and isn't interesting.  Furthermore, there is no central point for people to comment on an article.  Instead, commentry and criticism is limited to personal discussions and individuals blogs, putting those not already "in the know" at a disadvantage. </p>
<p>These are the problems that I created sciteit to overcome.  Articles are sorted by users directly voting them as interesting or uninteresting and a central location is available for comments.  I am just one man, and I still have a PhD to do, so please be patient if something doesn't work properly and I'm slow in fixing it. </p>
</div>
