## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>

<div class="instructions">
  <h1>Criticisms</h1>
  <p><strong>Criticisms are currently disabeled to avoid confusion.  Look for this feature to be re-introduced in the future.</strong></p>
  <p>Criticisms are a special type of 
&#32;
<a href="/help/commenting">comment</a>, that are meant to be used sparingly to highlight what the community believes are outstanding issues with an article or other scholarly work.  The threshold for submitting a criticism should be roughly the same as the threshold for a reviewer to refuse publication.</p>
  <h2> Submitting </h2>
  <p>Criticisms can be submitted in the same way as comments, by clicking the appropriate button below a link.  Additionally, you can change a comment into a criticism (only if you are the author) by clicking the "nominate" button below a comment.</p>
  <h2> Criticism specific features </h2>
  <p> Criticisms behave slightly differently from comments in a number of ways.  Any "root level criticism" (a criticism that is not a reply to another criticism) is highlighted in yellow to distinguish it from the sebsequent responses.  The submitter of a criticism also has the ability to mark a reply as the "best response".  Only one reply can be marked as the best response and will appear at the top of the criticism tree with a green tick next to it.</p>
  <p> An example use would be if someone submits a criticism stating that the authors have failed to describe the methods they used when performing experiments.  If someone then replied that the methods are provided, but they are hidden in the supplementary materials, the original critic might be satisfied and mark the response as the "best response".</p> 
</div>
