## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>

<div class="instructions">
  <h1>messaging</h1>
  <p>Messages are essentially an internal Sciteit email system.  Messages can be sent from one user to another by clicking on the mail icon and following the prompts.  Additionally, creators of 
&#32; 
<a href="/help/subsciteit">categories</a>
&#32; 
 have access to a seperate mailbox known as "modmail".</p>
  <p>Sciteit will notify you of information, such as replies to links you have posted or new posts by your friends, by sending you a message through the messaging system.  So keep an eye out for the orange mail icon near the top right of your screen!</p>
</div>
