## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>

<div class="instructions">
  <h1>submitting links</h1>
  <p>
  Once registered, you'll be able to submit links and earn karma.  Just click the "Submit" link on the front page and it'll take you 
  &#32;
  <a href="/submit">here</a>.
  </p>
  <p>
  Enter the URL of the site and a title (or click the "Suggest" button to have a title auto-fetched from the page you're linking to) and then select a sciteit (i.e., a category). You can either click one of the suggested ones or type a few letters to search for one.
  </p>
  <h2 id="TextPostsSelf-posts">Text Posts / Self-posts</h2>
  <p>
  If you don't actually want to link to an external site, but just want to say a few words, you can use the "text" link on the submit page. Instead of a URL box, there's a big text area where you can write whatever you want. It's like a sticky comment, if you're familiar with that term. Also, don't worry too much about making a typo -- you'll be able to edit this text later to correct mistakes.
  </p>
  <p>
  Any URL that has been entered in the URL box will be discarded if you enter some text instead.  You can't make a text submission that is also a link.  Also, text submissions do not generate karma.
  </p>
  <h2 id="TheSpamFilter">The Spam Filter</h2>
  <p>
  If your submission doesn't seem to be showing up anywhere, it may have been accidentally nabbed by the spam filter.  To resolve this you can send a message to a moderator of the sciteit you are submitting to. Please do not delete submissions that you think have been accidentally marked as spam, they are needed to properly train the spam filter. All your submissions will eventually be nabbed by the spam filter. When that happens, give sciteit a rest.
  </p>
  <h2 id="TipsandTricks">Tips and Tricks</h2>
  <p>
  If you prepend "http://sciteit.com/" to any URL, and that link hasn't yet been submitted to sciteit, you'll be given a 
  &#32;
  <a href="/help/toolbar">sciteit toolbar</a>
  &#32;
   link that takes you straight to the submit page. This is a great shortcut.
  </p>
  
  For example, if you're visiting http://xyz.com/foo.html and think sciteit might like it, just change the URL to <b>http://sciteit.com/</b>http://xyz.com/foo.html. And you can leave off either or both "http://"s.
  ##<p>
  ##If you're more of a pointy-clicky kind of person, try the <a class="ext-link" href="http://www.sciteit.com/bookmarklets"><span class="icon">bookmarklets</span></a>.
  ##</p>
</div>
