## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link,text_with_links"/>

<div class="instructions">
  <h1>Commenting</h1>
  <p><strong>To avoid confusion, criticisms have been disabeled for now.  Look for this feature to be re-introduced in the future</strong></p>
  <p>Most links and text posts allow user to submit comments about the link or post.  Unlike Reddit, Sciteit allows for two different types of reply; comments and criticisms.  A comment is a general point of discussion or question about the link.  A criticism is meant to be used far more rarely and only when you feel there is an outstanding issue with the content of what was posted.  If you imagine you were a referee on a paper, a criticism would be something that would prevent you from recommending the article is published.  A comment is everything else.  For more information on criticisms, see the 
&#32;
<a href="/help/criticising">criticism help page</a>.</p>
  <h2> Submitting and viewing </h2>
  <p>To submit a comment, simply click on the comment button below any link.  You can then either submit a new comment using the box at the top of the page, or reply to an existing comment.  Comments made in reply to other comments are moved around with the comment they are replying to, making a "comment tree".  In addition to plain text, Sciteit supports a number of extra formatting tools, which are described in the formatting help.  Sciteit currently supports basic 
&#32;
<a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>
&#32;
syntax, with support for embedding simple
&#32;
<a href="http://en.wikibooks.org/wiki/LaTeX">latex</a>.</p>
<h2> Viewing and sorting </h2>
  <p>Users vote on comments the same as they do links, hopefully ensuring that the most relevent comments are shown first.  The comment tree is sorted by the algorithm selected at the top of the page.  There are several different sorting algorithms that have different behaviours.  These are described in detail in this excellent
&#32;
<a href="http://blog.reddit.com/2009/10/reddits-new-comment-sorting-system.html">blog post</a>.  
&#32;
If in doubt, the default sort of "best" is probably the best (who would have thought it?).</p>
</div>
