## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>

<div class="wikipage searchable">


<div class="infobar" style="background-color:white; border: 1px solid #336699">
<table class="borderless"><tr>
<td>
<b>sciteit is a place to share and discuss scholarly work.</b><br />
    Users like you provide all of the content (usually links to journal articles) and decide, through voting, what's good (<img src="http://reddit.com/static/aupmod.png" style="vertical-align: bottom; margin-bottom: 2px" />) and what's junk (<img src="http://reddit.com/static/adownmod.png" style="vertical-align:bottom" />).<br />
        Links that receive community approval bubble up towards #1, so the front page is constantly in motion and (hopefully) filled with fresh, interesting links.<br/>
	Note that sciteit is currently under development and is based on the reddit source code.  That's why there's the big beta symbol up the top :)<br/>
	As such, many of the following bits of help point to the reddit help page.  This help is also fairly limited, &#32;<a href="/r/howdoi">howdoi</a> is a good place to get your questions answered.
</td>
</tr></table>
</div>
<br />


<div style="font-size:150%; margin-top: 20px">help topics:</div>
<p>
</p>
<div class="tablefloaty">
<h2 id="theessentials">the essentials</h2>
<p>
${plain_link("FAQ","/help/faq",_sr_path=False)}<br/>
${plain_link('categories or "sciteits"',"/help/subsciteit",_sr_path=False)}<br/>
${plain_link("getting more help","/help/morehelp",_sr_path=False)}
</p>
<h2 id="feedback">feedback</h2>
<p>
${plain_link("email us","/feedback",_sr_path=False)}</br>
${plain_link("our blog","http://blog.sciteit.com")}</br>
</p>
<h2 id="youraccount">your account</h2>
<p>
${plain_link("registration","/help/registration",_sr_path=False)}<br />
${plain_link("your profile","http://reddit.com/help/your_profile")}<br />
${plain_link("making friends","http://reddit.com/help/friends")}<br />
</p>
<h2 id="ourcommunity">our community</h2>
<p>
</p>
</div>
<div class="tablefloaty">
<h2 id="browsing">browsing</h2>
<p>
${plain_link("navigation","http://reddit.com/help/navigation")}<br/>
${plain_link("voting","http://reddit.com/help/voting")}<br/>
${plain_link("sharing links","http://reddit.com/help/sharing")}<br/>
${plain_link("reporting links","http://reddit.com/help/reporting")}<br/>
${plain_link("the toolbar","http://reddit.com/help/toolbar")}<br/>
${plain_link("search tips","/help/search",_sr_path=False)}<br/>
</p>
<h2 id="contributing">contributing</h2>
<p>
${plain_link("submitting","/help/submitting",_sr_path=False)}<br/>
${plain_link("commenting","/help/commenting",_sr_path=False)}<br/>
${plain_link("criticisms","/help/criticising",_sr_path=False)}<br/>
${plain_link("messaging","/help/messaging",_sr_path=False)}<br/>
##${plain_link("adblock exception","http://reddit.com/help/adblock")}<br/>
##${plain_link("privoxy exception","http://reddit.com/help/privoxy")}<br/>
</p>
</div>
<div class="tablefloaty">
<h2 id="accessories">accessories</h2>
<p>
</p>
<h2 id="advanced">advanced</h2>
<p>
${plain_link("nifty features","/help/nifty",_sr_path=False)}<br/>
${plain_link("moderation","http://reddit.com/help/moderation",_sr_path=False)}<br/>
</p>
<h2 id="offsitehelp">offsite help</h2>
<p>
${plain_link("official markdown syntax","http://daringfireball.net/projects/markdown/syntax")}<br/>
</p>
<h2 id="business">business</h2>
<p>

</p>
<h2 id="boringstuff">boring stuff</h2>
<p>
##${plain_link("privacy policy","/help/privacypolicy",_sr_path=False)}<br/>
##${plain_link("user agreement","/help/useragreement",_sr_path=False)}<br/>
##${plain_link("press contacts","/help/press",_sr_path=False)}<br/>
</p>
</div>

</div>
