## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file='utils.html' import='plain_link'/>
<div class="instructions">
  <h1>registration</h1>
<p>
Creating a new account on Sciteit is just about as quick and painless as can be.
</p>
<p>
You <strong>don't</strong> need to tell us your name.
</p>
<p>
You <strong>don't</strong> need to click on a link in your email.

</p>
<p>
In fact, you <strong>don't</strong> even need to <i>tell</i> us your email address (though if you do, we can let you back into your account if you ever forget your password).  However, you also won't be able to post new content or nominate criticisms without a verified email address.
</p>
<p>
You just go 
&#32;
<a href="/login">here</a>
&#32;
 and:
</p>
<p>

1. Pick a username
</p>
<p>
2. Pick a password
</p>
<p>
3. Type in some wavy letters
</p>
<p>
That's it. After you press "submit", your account will instantly be created and you'll be automatically logged into it. Then you can start 
&#32;
<a href="/help/voting">voting</a>
&#32;
 on things.
</p>
</div>
