## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.sciteit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be consistent
## with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is Sciteit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is CondeNet, Inc.
##
## All portions of the code written by CondeNet are Copyright (c) 2006-2010
## CondeNet, Inc. All Rights Reserved.
################################################################################
<%namespace file="utils.html" import="plain_link"/>
<div class="instructions">
  <h1>Categories, "sciteits" or "subsciteits"</h1>
<p>Every post on Sciteit belongs to a category.  These help to organize content by topic area so that it is easier for users to find exactly what they're looking for.  These categories are also called "subsciteits" or sometimes just "sciteits".  Don't be confused, they are all just different names for the same thing.  Just think of them as categories and you'll be fine.</p>
<p>The categories are organized in a tree structure with the
&#32;
<a href="/r/sciteit.com">sciteit.com</a>
&#32;
 category sitting at the top.  Each category will have a parent category.  It may also have children that it inherets from.  Anything posted to a child category will show up in the parent category.  Additionally, each category might also have siblings, which are just categories that share a parent.  This category tree can be easy navigated using the topbar, which will list the parent category in bold, the current category in purple, siblings as normal and children in gray.</p>
<p>Any registered user can create a new category, by clicking 
&#32;
<a href="/sciteits/create">here</a>.
&#32;
  A link to this page will appear in the sidebar for any users that have been registered for more than 30 days.  On the category creation page, you will be asked to enter the following information:</p>
<ul><li><p> A name for your category.  Spaces are not allowed.  Must be unique.</li></ul></p>
<ul><li><p> A title for your category.  This is a short description of your category, that will appear in the titlebar of the browser (amongst other places).</p></li></ul>
<ul><li><p> A parent for your category.  Each new category <strong>must</strong> have a parent category.  For example if you are making a category for astrophysics, you might select physics as the parent category.  Note that only administrators can create categories that have the root category as a parent. </p></li></ul>
<ul><li><p> A more detailed description of your category (500 characters).  This will appear in the sidebar when users visit your category. </p></li></ul>
<ul><li><p> Select a language for your category.  I can't guarantee anything other than english will work at the moment. </p></li></ul>
<ul><li><p> The type of category.  This determines who will be able to view and submit to your category.  It is possible to have completely private categories that are only visible to a set of approved members, for the category to be visible to anyone but only certain people able to submit, or completely open. </p></li></ul>
<ul><li><p>Should links, text posts or both be allowed? </p></li></ul>
<ul><li><p>Can this category be one of the default options for users who haven't logged in? </p></li></ul>
<ul><li><p>Should a thumbnail of content be displayed? </p></li></ul>
<ul><li><p>You will be given the option of entering a domain.  If you specify one here, websites hosted at this domain will be able to display this category on their website. </p></li></ul>
<ul><li><p>You will be given the option of entering a RSS feed.  If you choose to enter one, this feed will be used to 
&#32;
<a href="/help/nifty">automatically add</a>
&#32;
new links each day.</p></li></ul>
<p>The user who creates a category or sciteit will automatically be made a moderator of that category.  More information about being a moderator can be found 
&#32;
<a href="/help/moderation">here</a>.</p>
</div>
